svg {
    width: 300px;
    height: 150px;
}

.clock {
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: auto;
    max-width: 250px;
}